//
   Created by bcuser on 11/20/16.
block content
    h2= title

    p Welcome to #{title}

    p UserName:
        span#Username #{user.username}

    p Name:
        span#name #{user.displayName}

    p ID:
        span#ID #{user.id}

    img(src= user.photos[0].value)
    br
    button#back Back
